In [18]:
import sys
sys.path.append('../')
from comparisonframe import ComparisonFrame

## Usage examples

The examples contain: 
1. creating validation set and saving it to be reused
2. comparing newly generated data with expected results 
3. recording test statuses
4. reseting statuses, flushing records and comparison results

### 1. Creating validation set

### 1.1 Initialize comparison class

In [2]:
comparer = ComparisonFrame(
    # optionally
    ## provide filenames to persist state
    record_file = "record_file.csv",  # file where queries and expected results are stored
    results_file = "comparison_results.csv", # file where comparison results will be stored
    compare_scores = ['char_count',
                        'word_count',
                        'line_count',
                        'punctuation',
                        'semantic_similarity']
)

#### 1.2 Recording queries and expected responses (validation set)

In [3]:
comparer.record_query(query = "Black metal",
                      expected_text = "Black metal is an extreme subgenre of heavy metal music.")
comparer.record_query(query = "Tribulation",
                      expected_text = "Tribulation are a Swedish heavy metal band from Arvika that formed in 2005.")

### 2. Comparing with expected results

#### 2.1 Initialize new comparison class

In [4]:
comparer = ComparisonFrame()

### 2.2 Show validation set

In [5]:
untested_queries = comparer.get_all_queries(
    ## optionall
    untested_only=True)
print(untested_queries)

['Black metal', 'Tribulation']

In [6]:
comparer.get_all_records()

,id,timestamp,query,expected_text,tested,test_status
0,1,2024-07-06 04:07:06,Black metal,Black metal is an extreme subgenre of heavy me...,no,NaN
1,2,2024-07-06 04:07:06,Tribulation,Tribulation are a Swedish heavy metal band fro...,no,NaN

#### 2.3 Compare newly generated with recorded

In [7]:
valid_answer_query_1 = "Black metal is an extreme subgenre of heavy metal music."
very_similar_answer_query_1 = "Black metal is a subgenre of heavy metal music."
unexpected_answer_query_1 = "Black metals are beautiful and are often used in jewelry design."

In [8]:
# with no entry to records
comparer.compare_with_record(query = "Black metal",
                             provided_text = valid_answer_query_1,
                             mark_as_tested=False)
comparer.compare_with_record(query = "Black metal",
                             provided_text = very_similar_answer_query_1,
                             mark_as_tested=False)
comparer.compare_with_record(query = "Black metal",
                             provided_text = unexpected_answer_query_1,
                             mark_as_tested=False)

#### 2.4 Check comparison results

In [9]:
comparer.get_comparison_results()

,id,query,expected_text,provided_text,char_count,word_count,line_count,punctuation,semantic_similarity
0,1,Black metal,Black metal is an extreme subgenre of heavy me...,Black metal is an extreme subgenre of heavy me...,0,0,0,0,1.000000
1,1,Black metal,Black metal is an extreme subgenre of heavy me...,Black metal is a subgenre of heavy metal music.,9,1,0,0,0.985985
2,1,Black metal,Black metal is an extreme subgenre of heavy me...,Black metals are beautiful and are often used ...,8,1,0,0,0.494053

### 3. Record test statuses

In [10]:
comparer.compare_with_record(query = "Black metal",
                             provided_text = very_similar_answer_query_1,
                             mark_as_tested=True)

In [11]:
comparer.get_all_records()

,id,timestamp,query,expected_text,tested,test_status
0,1,2024-07-06 04:07:06,Black metal,Black metal is an extreme subgenre of heavy me...,yes,pass
1,2,2024-07-06 04:07:06,Tribulation,Tribulation are a Swedish heavy metal band fro...,no,NaN

### 4. Reseting and flushing results

#### 4.1 Reselt test statuses

In [12]:
comparer.reset_record_statuses(
    # optionally
    record_ids = [1]
)

In [13]:
comparer.get_all_records()

,id,timestamp,query,expected_text,tested,test_status
0,1,2024-07-06 04:07:06,Black metal,Black metal is an extreme subgenre of heavy me...,no,NaN
1,2,2024-07-06 04:07:06,Tribulation,Tribulation are a Swedish heavy metal band fro...,no,NaN

#### 4.2 Flush comparison results

In [14]:
comparer.flush_comparison_results()

In [15]:
comparer.get_comparison_results()

ERROR:ComparisonFrame:No results file found. Please perform some comparisons first.

#### 4.3 Flush records

In [16]:
comparer.flush_records()

In [17]:
comparer.get_all_records()

Empty DataFrame
Columns: [id, timestamp, query, expected_text, tested, test_status]
Index: []